*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
  overflow-x: hidden;
}
header{
  position: relative;
  width: 100vw;
  height: 620px;
  overflow: hidden;
}

#clip-div{
  width: 100vw;
  height: 100vh;
  background: greenyellow;
  clip-path: circle(40% at 10% 21%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#clip-circle{
  position: fixed;
  top: -250px;
  left: 0;
  z-index: -2;
  width: 80vw;
  background: white;
  height: 180vh;
border-radius: 50%;

}

#clip-div-right{
  position: fixed;
  right: 0;
  z-index: -3;
  top: 0;
  height: 100vh;
  width: 70%;
  background-color: greenyellow;
}

/* Parameters */
body {
  background: white;
}

.face{
  position: fixed;
  top: -310px;
  left: 0;
  width: 82vw;
  height: 100vh;
border-radius: 50%;

}

#main-section .col-md-8{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-section .card{
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.card div{
    font-weight: bold;
    font-size: 50px;
}
#bg{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
display: flex;
}
#clip-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background:#B1F4CE;
    z-index: -3;
}
#clip-left{
    position: relative;
    height: 100%;
    width: 80%;
    background: #B1F4CE;
    z-index: -2;
}

.btn{
  background-color: 	#178017;
}
#clip-top-left{
 width: 80vw;
 height: 100vh;
 background-color: #B1F4CE;
 clip-path: circle(42.8% at 10% 10%); 
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}
#content-box-bg{
  position: absolute;
  z-index: -2;
  background: rgb(255, 255, 255);
  width: 65%;
  height: 100%;
  overflow: hidden;
}
#content-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
svg {
    position: absolute;
    right:-100px;
    width: 1000px;
    height:900px;
    top: -140px;
    fill: white;
    stroke: rgb(75, 235, 123);
    stroke-width: 0;
    stroke-linecap: round;
    z-index: -2;
    animation: rotate 60s infinite steps(60);
  }
  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .marks {
    transform: translate(20px, 20px);
    stroke-width: 0.1;
  }
  .marks > line:nth-child(1) {
    /* There are 12 marks, so we rotate by 24deg (24 * 15 = 360) */
    transform: rotate(10deg); 
  }
  .marks > line:nth-child(2) {
    transform: rotate(calc(2 * 10deg));
  }
  .marks > line:nth-child(3) {
    transform: rotate(calc(3 * 10deg));
  }
  .marks > line:nth-child(4) {
    transform: rotate(calc(4 * 10deg));
  }
  .marks > line:nth-child(5) {
    transform: rotate(calc(5 * 10deg));
  }
  .marks > line:nth-child(6) {
    transform: rotate(calc(6 * 10deg));
  }
  .marks > line:nth-child(7) {
    transform: rotate(calc(7 * 10deg));
  }
  .marks > line:nth-child(8) {
    transform: rotate(calc(8 * 10deg));
  }
  .marks > line:nth-child(9) {
    transform: rotate(calc(9 * 10deg));
  }
  .marks > line:nth-child(10) {
    transform: rotate(calc(10 * 10deg));
  }
  .marks > line:nth-child(11) {
    transform: rotate(calc(11 * 10deg));
  }
  .marks > line:nth-child(12) {
    transform: rotate(calc(12 * 10deg));
  }
  .marks > line:nth-child(13) {
    transform: rotate(calc(13 * 10deg));
  }
  .marks > line:nth-child(14) {
    transform: rotate(calc(14 * 10deg));
  }
  .marks > line:nth-child(15) {
    transform: rotate(calc(15 * 10deg));
  }
  .marks > line:nth-child(16) {
    transform: rotate(calc(16 * 10deg));
  }
  .marks > line:nth-child(17) {
    transform: rotate(calc(17 * 10deg));
  }
  .marks > line:nth-child(18) {
    transform: rotate(calc(18 * 10deg));
  }
  .marks > line:nth-child(19) {
    transform: rotate(calc(19 * 10deg));
  }
  .marks > line:nth-child(20) {
    transform: rotate(calc(20 * 10deg));
  }
  .marks > line:nth-child(21) {
    transform: rotate(calc(21 * 10deg));
  }
  .marks > line:nth-child(22) {
    transform: rotate(calc(22 * 10deg));
  }
  .marks > line:nth-child(23) {
    transform: rotate(calc(23 * 10deg));
  }
  .marks > line:nth-child(24) {
    transform: rotate(calc(24 * 10deg));
  }
  .marks > line:nth-child(25) {
    transform: rotate(calc(25 * 10deg));
  }
  .marks > line:nth-child(26) {
    transform: rotate(calc(26 * 10deg));
  }
  .marks > line:nth-child(27) {
    transform: rotate(calc(27 * 10deg));
  }
  .marks > line:nth-child(28) {
    transform: rotate(calc(28 * 10deg));
  }
  .marks > line:nth-child(29) {
    transform: rotate(calc(29 * 10deg));
  }
  .marks > line:nth-child(30) {
    transform: rotate(calc(30 * 10deg));
  }
  .marks > line:nth-child(31) {
    transform: rotate(calc(31 * 10deg));
  }
  .marks > line:nth-child(32) {
    transform: rotate(calc(32 * 10deg));
  }
  .marks > line:nth-child(32) {
    transform: rotate(calc(32 * 10deg));
  }
  .marks > line:nth-child(33) {
    transform: rotate(calc(33 * 10deg));
  }
  .marks > line:nth-child(34) {
    transform: rotate(calc(34 * 10deg));
  }
  .marks > line:nth-child(35) {
    transform: rotate(calc(35 * 10deg));
  }
  .marks > line:nth-child(36) {
    transform: rotate(calc(36 * 10deg));
  }

  nav{
    height:50px;
  }

  .text-success{
    color: green !important;
  }

  @media screen and (max-width: 768px){
    svg, #clip-right, #clip-left{
      display: none;
    }
  }

  